/* Make auto-scroll transitions smooth (when using navbar */
html {
  scroll-behavior: smooth;
}

/* ------------------------- NAVBAR ------------------------------*/
/* Styling for the navbar container <div> */
.navbar-container {
  background-color: #4287F5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Styling for the navbar menu items */
.navbar-collapse {
  justify-content: flex-end;
}

/* Styling for the navbar logo and links */
.navbar-brand, .nav-link {
  color: #FFF
}

/* ------------------------- FOOTER ------------------------------*/
/* Styling for the footer of the page */
#footer {
  background-color: #4287F5;
  color: white;
}

/* ------------------------- BLOCK QUOTE ------------------------------*/
/* Styling for the blockquote at the start of some of the blog posts. */
.quoted-message {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #4287F5 ;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

/* Styling for the quotation mark placed before the blckquote in some blog posts. */
.quoted-message::before {
  font-family: Arial;
  content: "\201C";
  color: #4287F5;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

/* Styling for the highlighted text in blog posts */
.highlighted-text {
  font-weight: 500;
  color: #4287F5;
}

/* Styling for the headers for subsections in the blog posts */
.subsection-title {
  font-weight: 600;
}

/* General styling for images in the blog posts (specifically, adding a border to images with no background/border) */
.image-rounded-border {
  border: 1px solid #4287F5;
  border-radius: 8px;
}

/* -------------------- TENDINOPATHY --------------------- */
.tendinopathy-rehab-stage {
  flex-grow: 1;
  max-width: 25%;
}

.tendinopathy-rehab-stage > .card-header {
  color: white;
  background-color: #4287F5;
}

.tendinopathy-rehab-stage > .card-body {
  background-color: #def0ff;
}