/* ------------------------- GENERAL ------------------------------*/
/* Make auto-scroll transitions smooth (when using navbar */
html {
  scroll-behavior: smooth;
}

#about-section-container, #appointments, #blog, #contact {
  padding-top: 3.7rem;
}

/* ------------------------- NAVBAR ------------------------------*/
/* Styling for the navbar container <div> */
.navbar-container {
  background-color: #4287F5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Styling for the navbar menu items */
.navbar-collapse {
  justify-content: flex-end;
}

/* Styling for the navbar logo and links */
.navbar-brand, .nav-link {
  color: #FFF
}

/* ------------------------- HOME ------------------------------*/
/* Styling for the whole Home section */
#home {
  background-color: #cbdcf7;
}

/* Styling for the pic of Prem in the Home section */
.home-portrait {
  /*width: 400px;*/
  height: 400px;
  border-radius: 7px;
}

/* Styling for the brief intro in the Home section */
.home-intro {
  /*width: 500px;*/
  max-width: 500px;
  height: 400px;
  border-radius: 7px;
}

/* ------------------------- ABOUT ------------------------------*/

/* ------------------------- CONTACT ------------------------------*/
.contact-phone-number-link, .contact-email-link {
  /*color: black;*/
}

.contact-phone-number-link:hover, .contact-email-link:hover {
  text-decoration: none;
}

/* ------------------------- BLOG ------------------------------*/
.blog-post-link:hover {
  text-decoration: none;
}

/* ------------------------- FOOTER ------------------------------*/
/* Styling for the footer of the page */
#footer {
  background-color: #4287F5;
  color: white;
}