/* Styling for the navbar container <div> */
.navbar-container {
  background-color: #4287F5;
}

/* Styling for the navbar menu items */
.navbar-collapse {
  justify-content: flex-end;
}

/* Styling for the navbar logo and links */
.navbar-brand, .nav-link {
  color: #FFF
}