.page-container {
  /*background-color: #e6e6e6;*/
}

.page-container > div {
  /*background-color: white;*/
}

.highlighted-text {
  font-weight: 500;
  color: #4287F5;
}

.subsection-title {
  font-weight: 600;
}
